/* @component
 * id: intro-link
 * mapped: 2026-09-13
 * classes: .intro-link
 * figma: Intro Link
 */

 .intro-link {
  color: var(--color-text);
  font-size: 1.25rem;
}

.intro-link:hover {
  color: var(--color-accent);
}





























 /* @component
 * id: intro-link
 * mapped: 2026-09-13
 * classes: .primary-btn, .primary-btn-small
 * figma: Button/Primary
 */

 /* @component
 * id: intro-link
 * mapped: 2026-09-13
 * classes: .primary-btn, .primary-btn-small
 * figma: Button/Primary
 */

 /* @component
 * id: intro-link
 * mapped: 2026-09-13
 * classes: .primary-btn, .primary-btn-small
 * figma: Button/Primary
 */

 /* @component
 * id: intro-link
 * mapped: 2026-09-13
 * classes: .primary-btn, .primary-btn-small
 * figma: Button/Primary
 */

